# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
**/xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/
.swiftpm/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Local env / secrets
.env
.env.*
*.pem
